.convenient-payment-options,
.pay-the-way {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-style: italic;
  font-weight: 400;
  font-family: inherit;
}
.pay-the-way {
  align-self: stretch;
  line-height: 53px;
}
.convenient-payment-options {
  width: 310px;
  line-height: 29px;
  display: flex;
  align-items: center;
}
.convenience-payment-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  font-size: 24px;
}
.payment-icon-wrapper1,
.payment-icon-wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.payment-icon-wrapper2 {
  flex: 1;
  flex-direction: column;
  gap: 24px;
}
.payment-icon-wrapper1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 68px;
  box-sizing: border-box;
}
.at-giftcard-paradise {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: Lato;
}
.payment-icon-wrapper {
  width: 625px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.payment-icon-wrapper-wrapper {
  width: 897px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.group-icon,
.vector-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: contain;
}
.group-icon {
  height: 59.5%;
  width: 50.89%;
  top: 21.17%;
  right: 24.63%;
  bottom: 19.33%;
  left: 24.48%;
  z-index: 1;
}
.group {
  height: 60px;
  width: 67.4px;
  position: relative;
}
.muchbettersvg {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 45px;
  max-width: 84px;
}
.group-icon1,
.vector-icon1 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: contain;
}
.group-icon1 {
  height: 17%;
  width: 68.55%;
  top: 42.67%;
  right: 16.32%;
  bottom: 40.33%;
  left: 15.13%;
  z-index: 1;
}
.group1 {
  height: 60px;
  width: 67.4px;
  position: relative;
}
.neosurfsvg {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 45px;
  max-width: 84px;
}
.netellersvg-icon,
.onebipsvg-icon {
  align-self: stretch;
  width: 69px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 84px;
  min-height: 60px;
}
.group-icon2,
.vector-icon2 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon2 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: contain;
}
.group-icon2 {
  height: 34%;
  width: 67.95%;
  top: 33%;
  right: 16.32%;
  bottom: 33%;
  left: 15.73%;
  z-index: 1;
}
.group2 {
  height: 60px;
  width: 67.4px;
  position: relative;
}
.payconiqsvg {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 45px;
  max-width: 84px;
}
.group-icon3,
.vector-icon3 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon3 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: contain;
}
.group-icon3 {
  height: 48.17%;
  width: 42.73%;
  top: 26.17%;
  right: 28.34%;
  bottom: 25.67%;
  left: 28.93%;
  z-index: 1;
}
.group3 {
  height: 60px;
  width: 67.4px;
  position: relative;
}
.phonesvg {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 45px;
  max-width: 84px;
}
.skrillskrillsvg-icon,
.sofortsvg-icon {
  align-self: stretch;
  width: 69px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 84px;
  min-height: 60px;
}
.group-icon4,
.vector-icon4 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon4 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: contain;
}
.group-icon4 {
  height: 16.33%;
  width: 68.4%;
  top: 41.5%;
  right: 16.32%;
  bottom: 42.17%;
  left: 15.28%;
  z-index: 1;
}
.group4 {
  height: 60px;
  width: 67.4px;
  position: relative;
}
.frame-wrapper,
.muchbettersvg-parent,
.trustlysvg {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.trustlysvg {
  flex: 1;
  overflow: hidden;
  justify-content: flex-start;
  min-width: 45px;
  max-width: 84px;
}
.frame-wrapper,
.muchbettersvg-parent {
  max-width: 100%;
}
.muchbettersvg-parent {
  width: 741px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 15px;
}
.frame-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.group-icon5,
.vector-icon5 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon5 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: contain;
}
.group-icon5 {
  height: 49.83%;
  width: 37.54%;
  top: 24.67%;
  right: 30.56%;
  bottom: 25.5%;
  left: 31.9%;
  z-index: 1;
}
.group5 {
  height: 60px;
  width: 67.4px;
  position: relative;
}
.dinrexpaypalsvg {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 45px;
  max-width: 84px;
}
.group-icon6,
.vector-icon6 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon6 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: contain;
}
.group-icon6 {
  height: 49.17%;
  width: 36.2%;
  top: 24.5%;
  right: 31.9%;
  bottom: 26.33%;
  left: 31.9%;
  z-index: 1;
}
.group6 {
  height: 60px;
  width: 67.4px;
  position: relative;
}
.applepaysvg {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 45px;
  max-width: 84px;
}
.group-icon7,
.vector-icon7 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon7 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: contain;
}
.group-icon7 {
  height: 59.5%;
  width: 52.97%;
  top: 21.17%;
  right: 24.18%;
  bottom: 19.33%;
  left: 22.85%;
  z-index: 1;
}
.group7 {
  height: 60px;
  width: 67.4px;
  position: relative;
}
.coinpaymentssvg {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 45px;
  max-width: 84px;
}
.group-icon8,
.vector-icon8 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon8 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: contain;
}
.group-icon8 {
  height: 51%;
  width: 54.45%;
  top: 25%;
  right: 22.4%;
  bottom: 24%;
  left: 23.15%;
  z-index: 1;
}
.group8 {
  height: 60px;
  width: 67.4px;
  position: relative;
}
.creditcardsvg {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 45px;
  max-width: 84px;
}
.group-icon9,
.vector-icon9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.group-icon9 {
  height: 30.5%;
  width: 78.19%;
  top: 35.17%;
  right: 12.02%;
  bottom: 34.33%;
  left: 9.79%;
  z-index: 1;
}
.group9 {
  height: 60px;
  width: 67.4px;
  position: relative;
}
.creditcard-amexsvg {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 45px;
  max-width: 84px;
}
.group-icon10,
.vector-icon10 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon10 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: contain;
}
.group-icon10 {
  height: 51%;
  width: 58.31%;
  top: 25%;
  right: 20.33%;
  bottom: 24%;
  left: 21.36%;
  z-index: 1;
}
.group10 {
  height: 60px;
  width: 67.4px;
  position: relative;
}
.creditcard-mastercardsvg {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 45px;
  max-width: 84px;
}
.group-icon11,
.vector-icon11 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon11 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: contain;
}
.group-icon11 {
  height: 25.5%;
  width: 70.33%;
  top: 36.83%;
  right: 14.24%;
  bottom: 37.67%;
  left: 15.43%;
  z-index: 1;
}
.group11 {
  height: 60px;
  width: 67.4px;
  position: relative;
}
.creditcard-visasvg {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 45px;
  max-width: 84px;
}
.daopaysvg-icon,
.fortumosvg-icon {
  align-self: stretch;
  width: 69px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 84px;
  min-height: 60px;
}
.group-icon12,
.vector-icon12 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon12 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: contain;
}
.group-icon12 {
  height: 34%;
  width: 70.33%;
  top: 33.5%;
  right: 14.09%;
  bottom: 32.5%;
  left: 15.58%;
  z-index: 1;
}
.group12 {
  height: 60px;
  width: 67.4px;
  position: relative;
}
.giropaysvg {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 45px;
  max-width: 84px;
}
.group-icon13,
.vector-icon13 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon13 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: contain;
}
.group-icon13 {
  height: 50.67%;
  width: 51.34%;
  top: 24.5%;
  right: 24.33%;
  bottom: 24.83%;
  left: 24.33%;
  z-index: 1;
}
.group13 {
  height: 60px;
  width: 67.4px;
  position: relative;
}
.idealsvg {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 45px;
  max-width: 84px;
}
.frame-parent1,
.payment-icons-bottom-row {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: 15px;
}
.payment-icons-bottom-row {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.frame-parent1 {
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-container,
.homepage-child {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-container {
  width: 1536px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 51.8px 321px 65.2px 306px;
  gap: 97px;
  background-image: url(/public/frame-10000079081@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.homepage-child {
  align-self: stretch;
  background-color: #fff;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 80px 20px;
  text-align: left;
  font-size: 48px;
  color: #fff;
  font-family: PoynterTextFour;
}
@media screen and (max-width: 1225px) {
  .frame-container {
    padding-left: 153px;
    padding-right: 160px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .pay-the-way {
    font-size: 38px;
    line-height: 42px;
  }
  .payment-icon-wrapper1 {
    padding-left: 34px;
    padding-right: 34px;
    box-sizing: border-box;
  }
  .payment-icon-wrapper {
    gap: 16px;
  }
  .frame-container {
    gap: 48px;
    padding: 34px 80px 42px 76px;
    box-sizing: border-box;
  }
  .homepage-child {
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .pay-the-way {
    font-size: 29px;
    line-height: 32px;
  }
  .convenient-payment-options {
    font-size: 19px;
    line-height: 23px;
  }
  .frame-container {
    gap: 24px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
