.excellent2,
.out-of-52 {
  position: relative;
  line-height: 120%;
}
.excellent2 {
  display: inline-block;
  min-width: 69px;
}
.out-of-52 {
  white-space: nowrap;
}
.rating1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.earn-15-points2,
.login-sign2 {
  position: relative;
  line-height: 120%;
  white-space: nowrap;
}
.login-sign2 {
  width: 205px;
  text-align: right;
  display: inline-block;
  flex-shrink: 0;
}
.rewards-login {
  align-self: stretch;
  background-color: #344ead;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10.5px 192px;
  gap: 20px;
}
.logo-symbol-icon5 {
  height: 64px;
  width: 64px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.thejoyousgifts4 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-style: italic;
  font-weight: 400;
  font-family: inherit;
  white-space: nowrap;
}
.logo5 {
  width: 307px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 6px 0 0;
  box-sizing: border-box;
  gap: 18px;
}
.about6,
.blog4,
.contact4,
.platform2,
.shop4,
.work2 {
  position: relative;
  line-height: 120%;
  display: inline-block;
  min-width: 46px;
}
.blog4,
.contact4,
.platform2,
.shop4,
.work2 {
  min-width: 34px;
}
.contact4,
.platform2,
.shop4,
.work2 {
  min-width: 39px;
}
.contact4,
.platform2,
.shop4 {
  min-width: 64px;
}
.contact4,
.shop4 {
  min-width: 61px;
}
.shop4 {
  min-width: 39px;
}
.navigation-links1 {
  margin: 0;
  width: 388px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Inter;
}
.shop5 {
  position: relative;
  line-height: 120%;
  display: inline-block;
  min-width: 103px;
}
.shop-frame {
  background-color: #344ead;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 47px;
  white-space: nowrap;
  font-size: 16px;
  color: #fff;
  font-family: Inter;
}
.header6,
.main-content,
.top-navigation {
  align-self: stretch;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.top-navigation {
  background-color: #fff;
  flex-direction: row;
  justify-content: space-between;
  padding: 5.5px 192px;
  box-sizing: border-box;
  gap: 20px;
  font-size: 32px;
  color: #000;
  font-family: PoynterTextFour;
}
.header6,
.main-content {
  flex-direction: column;
  justify-content: flex-start;
}
.header6 {
  align-items: flex-start;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: Inter;
}
@media screen and (max-width: 1400px) {
  .top-navigation {
    padding-left: 96px;
    padding-right: 96px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .rewards-login {
    padding-left: 96px;
    padding-right: 96px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .rewards-login,
  .top-navigation {
    padding-left: 48px;
    padding-right: 48px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .rewards-login,
  .top-navigation {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
